/* Global Styles */
body {
  background-color: #0F518A;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: black; /* Improved text readability */
}

#container {
  max-width: 90%; /* Adjust max-width for better responsiveness */
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Update your button styles to make them more appealing */
.gumbstyle {
  background: #3498db;
  border-radius: 28px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

.gumbstyle:hover {
  background: #3cb0fd;
}

/* User Profile Styles */
.user {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #333; /* Improved text readability */
}

.user-info p:first-child {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  color: #007bff; /* Highlighted heading text */
}

.user-info p:last-child {
  font-size: 14px;
  color: #777;
}

/* Improve responsiveness for mobile devices */
@media (max-width: 768px) {
  #container {
    padding: 10px;
  }
}

/* Make game images larger on mobile */
@media (max-width: 768px) {
  .game-image {
    width: 80%;
    max-width: 100%;
    height: auto;
  }
}

/* Add more space to the top of the dropdown menu */
.menu-content {
  top: 70px;
}
