/* Navbar styles */
.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.content-below-navbar {
    margin-top: 20px;
}
.content-below-navbar-game {
    margin-top: 100px;
}

/* Style the left section of the navbar */
.navbar-left {
    flex: 1;
}

/* Style the center section of the navbar */
.navbar-center {
    flex: 1;
    text-align: center;
}

/* Style the right section of the navbar */
.navbar-right {
    flex: 1;
    text-align: right;
}

/* Style the buttons in the right section */
.center-button, .selected-button, .user-button, .store-button, .download-button, .delete-button, .delete-mnenje-button, .filter-button, .profile-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.center-button {
    background-color: #007bff;
    color: #fff;
}
.profile-button {
    background-color: #007bff;
    color: #fff;
}

.selected-button {
    background-color: black;
    color: white;
}

.user-button {
    background-color: lightgray;
    color: black;
}

.store-button {
    background-color: green;
    color: wheat;
    margin-left: 95%;
}

.download-button {
    background-color: green;
    color: white;
}

.delete-button, .delete-mnenje-button {
    background-color: red;
    color: white;
}

.filter-button {
    background-color: brown;
    color: wheat;
}
.delete-mnenje-button {
    margin-left: 95%;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .center-button, .selected-button, .user-button, .store-button, .download-button, .delete-button, .delete-mnenje-button, .filter-button {
        margin: 10px 0;
    }

    .content-below-navbar {
        margin-top: 120px;
    }
    .content-below-navbar-game {
        margin-top: 400px;
    }
}